POSTGRES_USER = username for DB
POSTGRES_PASSWORD = password for DB
POSTGRES_DB = DB name
POSTGRES_HOST = DB host
POSTGRES_PORT = DB port


SECRET_KEY = secret key for signature
ALGORITHM = signature algorithm


MAIL_USERNAME = name of mail
MAIL_PASSWORD = password of mail
MAIL_FROM = mail which will send mails
MAIL_PORT = mail port
MAIL_SERVER = name of mail server
MAIL_FROM_NAME = title of mail

REDIS_HOST=host
REDIS_PORT=port

CLOUD_NAME=name
CLOUD_KEY=key
CLOUD_SECRET=secret password